index.url.anatomyAC={BASE_URL}/anatomyAC/
index.url.emapaAC={BASE_URL}/emapaAC/
index.url.gxdEmapaAC={BASE_URL}/gxdEmapaAC/
index.url.journalAC={BASE_URL}/journalsAC/
index.url.reference={BASE_URL}/reference/
index.url.authorsAC={BASE_URL}/authorsAC/
index.url.sequence={BASE_URL}/sequence/
index.url.cre={BASE_URL}/cre/
index.url.marker={BASE_URL}/marker/
index.url.markerPanesetImage={BASE_URL}/markerPanesetImage/
index.url.interaction={BASE_URL}/interaction/
index.url.image={BASE_URL}/image/
index.url.allele={BASE_URL}/allele/
index.url.markerAnnotation={BASE_URL}/markerAnnotation/
index.url.mpAnnotation={BASE_URL}/mpAnnotation/
index.url.creAlleleSystem={BASE_URL}/creAlleleSystem/
index.url.creAssayResult={BASE_URL}/creAssayResult/
index.url.disease={BASE_URL}/disease/
index.url.gxdLitIndex={BASE_URL}/gxdLitIndex/
index.url.structureAC={BASE_URL}/structureAC/
index.url.vocabTermAC={BASE_URL}/vocabTermAC/
index.url.dagEdge={BASE_URL}/dagEdge/
index.url.gxdResult={BASE_URL}/gxdResult/
index.url.homology={BASE_URL}/homology/
index.url.gxdImagePane={BASE_URL}/gxdImagePane/
index.url.gxdDifferentialMarker={BASE_URL}/gxdDifferentialMarker/
index.url.diseasePortal={BASE_URL}/diseasePortal/
index.url.diseasePortalAnnotation={BASE_URL}/diseasePortalAnnotation/

mgd.user={DB_USER}
mgd.password={DB_PASSWORD}
mgd.JDBC.url=jdbc:postgresql://{DB_SERVER}/{DB_DATABASE}
database.JDBC.driver=org.postgresql.Driver
